In [2]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as mpl
import sklearn as skl

In [3]:
np

In [4]:
pd

In [5]:
sp

In [6]:
mpl

In [7]:
skl

# Numpy Stuff

In [8]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([1, 2, 3])

In [9]:
arr1.ndim

1

In [10]:
arr1.shape

(3,)

In [11]:
arr3 = np.array([arr1.data, arr2.data])

In [12]:
arr3

array([[1, 2, 3],
       [1, 2, 3]])

In [13]:

arr3.shape

(2, 3)

In [14]:
arr3.ndim

2

In [15]:
arr3.dtype

dtype('int64')

In [16]:
arr1.dtype

dtype('int64')

In [17]:

arr3[1]

array([1, 2, 3])

In [18]:
arr3[1, 2]

3

In [19]:
arr3[-1, -2]

2

In [20]:
# Get a row
arr3[0, :]

array([1, 2, 3])

In [21]:
# Get a column
arr3[:, 0]

array([1, 1])

In [22]:
arr3[1, 1] = 10

In [23]:
arr2

array([1, 2, 3])

In [24]:
arr3

array([[ 1,  2,  3],
       [ 1, 10,  3]])

In [25]:
arr3[0] = [7, 8, 0]

In [26]:
arr3

array([[ 7,  8,  0],
       [ 1, 10,  3]])

In [27]:
np.zeros((10, 10))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [28]:
np.ones((3, 6))

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [29]:
np.full((2, 4), 73)

array([[73, 73, 73, 73],
       [73, 73, 73, 73]])

In [30]:
a = np.full((2, 3), 3)
b = np.full((3, 2), 4)

In [31]:
print(a)
print(b)

[[3 3 3]
 [3 3 3]]
[[4 4]
 [4 4]
 [4 4]]

In [32]:
np.matmul(a, b)

array([[36, 36],
       [36, 36]])

In [33]:
np.matmul(b, a)

array([[24, 24, 24],
       [24, 24, 24],
       [24, 24, 24]])

In [34]:
iden = np.identity(3)

In [35]:
iden

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [36]:
np.linalg.det(iden)

1.0

In [37]:
np.linalg.eig(iden)

(array([1., 1., 1.]), array([[1., 0., 0.],
        [0., 1., 0.],
        [0., 0., 1.]]))

In [38]:
stats = np.array([[1, 2, 3], [4, 5, 6]])
np.min(stats)

1

In [39]:
np.max(stats, axis=1)

array([3, 6])

In [42]:
np.sort(iden)

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

# Pandas

In [45]:
df = pd.read_csv('netflix_titles_nov_2019.csv')
df

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,"November 30, 2019",2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
4,80213643,Chip and Potato,NaN,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",NaN,2019,TV-Y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",TV Show
...,...,...,...,...,...,...,...,...,...,...,...,...
5832,70141644,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",United States,"November 1, 2010",1987,NR,84 min,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",Movie
5833,70127998,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",United States,"November 18, 2009",2009,TV-14,29 min,Horror Movies,"After committing suicide, a washed-up rocker r...",Movie
5834,70084180,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",Denmark,"May 5, 2009",2007,NR,104 min,"Dramas, International Movies",When he causes a car accident that leaves a yo...,Movie
5835,70157452,Dinner for Five,NaN,NaN,United States,"February 4, 2008",2007,TV-MA,1 Season,Stand-Up Comedy & Talk Shows,"In each episode, four celebrities join host Jo...",TV Show
5836,70053412,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",United States,"January 1, 2008",2006,NR,81 min,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",Movie

In [46]:
df.shape

(5837, 12)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 12 columns):
show_id         5837 non-null int64
title           5837 non-null object
director        3936 non-null object
cast            5281 non-null object
country         5410 non-null object
date_added      5195 non-null object
release_year    5837 non-null int64
rating          5827 non-null object
duration        5837 non-null object
listed_in       5837 non-null object
description     5837 non-null object
type            5837 non-null object
dtypes: int64(2), object(10)
memory usage: 547.3+ KB

In [48]:
len(df)

5837